.navbar{
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    background-color: #1e1f2b;
    border: solid 1px 1px 1px 1px black;
}

.sideleft{
    width: 50%;
}

.sideright{
    width: 50%;
}

.navbar input{
    width: 70%;
    height: 7vh;
    border: none;
    padding-left: 5%;
    margin-left: 5vw;
    border-radius: 1vh;
    background-color: #151722;
}

