.navside {
    width: 80%;
    height: 100vh;
    justify-content: center;
    background-color: #1c1e29;
    margin-left: 20%;
}

.maincontent {
    width: 90%;
    height: 40vh;
    margin-top: 4vh;
    margin-left: 4vw;
    border-radius: 1vw;
    background-image: linear-gradient(to bottom, #673cd0, #7440c3, #7c44b7, #8149ab, #844fa0);
}

.homesa {
    display: flex;
    width: 100%;
}

.sideleftHome {
    width: 20%;
    height: 100vh;
}

.siderightHome {
    width: 80%;
    height: 100vh;
    background-color: #1a1c27;
}